
<web-app>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Declaration -->
    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>authServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creationServlet</servlet-name>
        <servlet-class>creationServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/UserAuth</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>creationServlet</servlet-name>
        <url-pattern>/AccountCreation</url-pattern>
    </servlet-mapping>

</web-app>